<div class="sidebar-menu" ng-if="pfvm.user" ng-controller="SidebarMenuController as vm">
  <ul class="nav navbar" ng-if="pfvm.sideMenu.shouldRender(pfvm.user)">
    <li ng-repeat="item in pfvm.sideMenu.items"
        ng-if="item.shouldRender(pfvm.user)"
        ng-switch="item.type"
        class="{{item.class}}"
        ng-class="{'selected': item.isSelected}">
      <a ng-switch-when="dropdown" ng-click="vm.toggleMenuItem(item);" role="button">
        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <img ng-src="{{item.isSelected ? item.iconSelected : item.icon}}" alt="">
          </div>
          <div class="com-sm-9 col-xs-9">
            {{::item.title}}
          </div>
        </div>
        <i class="icon-arrow glyphicon"
           ng-class="{true: 'glyphicon-chevron-right', false: 'glyphicon-chevron-down'}[item.isCollapsed]">
        </i>
      </a>
      <ul ng-switch-when="dropdown" uib-collapse="item.isCollapsed" class="nav navbar submenu">
        <li ng-repeat="subitem in item.items"
            ng-if="subitem.shouldRender(pfvm.user)" ng-class="{'selected': subitem.isSelected}">
          <a ui-sref="{{subitem.state}}({{subitem.params}})" ui-sref-opts="{reload: true}" ng-click="vm.clickMenuItem(subitem);" ng-bind="subitem.title" role="button"></a>
        </li>
      </ul>
      <a ng-switch-default ui-sref="{{item.state}}({{item.params}})" ui-sref-opts="{reload: true}" ng-click="vm.clickMenuItem(item);" role="button">
        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <img ng-src="{{item.isSelected?item.iconSelected:item.icon}}" alt="">
          </div>
          <div class="com-sm-9 col-xs-9">
            {{item.title}}
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
