<div class="signin-view" ng-class="{'signin-fill': !!vm.formFill}" ng-if="vm.style" ng-style="vm.style">
  <h1 class="text-center" ng-style="vm.titleStyle">{{vm.signTitle}}</h1>
  <div class="signin-div" ng-style="vm.formFill">
      <h3 class="text-left signin-form-title" ng-show="!vm.formFill">用户登录</h3>
      <form name="vm.userForm" ng-submit="vm.signin()" browser-autocompelte-form
            class="signin-form" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
              <span ng-bind="vm.error"></span>
            </uib-alert>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-user signin-span"> 用户:</span>
              <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control signin-input" ng-model="vm.credentials.usernameOrEmail" placeholder="Username" required autofocus>
            </div>
            <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
              <p class="help-block error-text" ng-message="required">必须输入用户名称.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-pencil signin-span"> 密码:</span>
              <input type="password" id="password" name="password"
                     class="form-control signin-input"
                     ng-model="vm.credentials.password" placeholder="Password" required>
            </div>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">
                必须输入密码.
              </p>
            </div>
          </div>
          <div class="text-left form-group">
            <button type="submit" class="btn btn-primary signin-btn">登录</button>
          </div>
          <div class="text-center form-group">
            <a ui-sref="authentication.signup">注册</a>
            &nbsp; /&nbsp;
            <a ui-sref="password.forgot">忘记密码?</a>
          </div>
        </fieldset>
      </form>
  </div>
</div>
